@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);


html {overflow-y:scroll}
body {margin:0;padding:0;background:#fff;color:#000;font-size:0.75em;font-family: 'Nanum Gothic Coding', monospace; line-height:15px;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, aside ul, footer ul {margin:0;padding:0;list-style:none}
label, input, button, select, img {vertical-align:middle}
textarea, select {font-family: 'Nanum Gothic Coding', monospace;font-size:1em}
input {margin:0;padding:0;border-radius:0;font-family:dotum}
input[type=text], input[type=password], input[type=submit], input[type=image] {-webkit-appearance:none}
button {border-radius:0;font-size:1em;font-family: 'Nanum Gothic Coding', monospace;-webkit-appearance:none;cursor:pointer}
p {margin:0;padding:0 0 10px;line-height:1.7em;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
a:focus, a:hover, a:active {text-decoration:underline}
 


label {margin-right:20px;}
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
	font-weight:bold;
	

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
label.css-label {
background-image:url(../img/check_img.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox + label.css-label2 {
	padding-left:20px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	color:#288ac3;
	font-weight:bold;
	

}

input[type=checkbox].css-checkbox:checked + label.css-label2 {
	background-position: 0 -20px;
}
label.css-label2 {
background-image:url(../img/check_img.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



.warp {  min-width: 1380px; padding: 0px 20px; position: relative; box-sizing: border-box}
.warp_m { padding: 0px 20px; position: relative; box-sizing: border-box; width: 100%}

.warp_m h3 {margin:0 0 1px;padding:0 0px;font-size:14px; color: #547CAC}
.warp_m h3 span {margin:0 0 1px;padding:0 0px;font-size:14px; color: #547CAC; background-color:#FF6}
.warp_m h2 span {margin:0 0 0px;padding:0 0px;font-size:14px; color: #000}
.warp_m h3 p { display:inline; padding:0px; margin:0px; color:#e91e5a; padding-left:30px; font-size:13px; font-weight:bold}



	.warp_m .admin_block01_m { width:100% } 
	.warp_m .admin_block02_m { width:100%  } 
	.block_line_m {  padding:0px; margin:0px}



/* 헤딩 */
h1 {margin:0 0 10px;padding:0 20px 10px;min-width:960px;border-bottom:1px solid #e9e9e9;color:#333;font-size:1.5em;font-family: 'Nanum Gothic Coding', monospace;letter-spacing:-0.1em}
h2 {margin:0 0 10px;padding:0 0px;font-size:14px;font-family: 'Nanum Gothic Coding'}
h2 span {margin:0 0 10px;padding:0 0px;font-size:14px;font-family: 'Nanum Gothic Coding'}
h2.h2_frm {padding-top:15px}

.warp h3 {margin:0 0 10px;padding:0 0px;font-size:14px; color: #547CAC; position:relative}
.warp h3 span {margin:0 0 10px;padding:0 0px;font-size:14px; color: #547CAC; background-color:#FF6}
.warp h2 span {margin:0 0 0px;padding:0 0px;font-size:14px; color: #000}
.warp h3 p { display:inline; padding:0px; margin:0px; color:#e91e5a; padding-left:30px; font-size:13px; font-weight:bold}
.warp h3 div  { display:inline; text-align:right; position:absolute; top:-2px; left:100px; font-size:12px; color:#fff; font-weight:bold; background-color:#2c77d7; padding:1px 3px; border-radius:3px}
.warp h3 div a {color:#fff}
.warp .admin_block01 { float:left; width:25%;  } 
.warp .admin_block01 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }
.warp .admin_block02 { float:right; width:70%;    }
.warp .admin_block02 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }

.warp .admin_block03 { float:left; width:38%; }
.warp .admin_block03 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }
.warp .admin_block04 { float:left; width:38%; padding:0px 2% }
.warp .admin_block04 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }
.warp .admin_block05 { float:right; width:20%; }
.warp .admin_block05 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }

.warp .admin_block06 { float:left; width:48%;}
.warp .admin_block06 .block_line {  border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }
.warp .admin_block06_none { float:left; width:44%;  border:1px solid #ffffff; padding:20px; margin-left:20px; margin-bottom:30px}
.warp .admin_block07 { float:right; width:48%; }
.warp .admin_block07 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }

.warp .admin_block08 { float:left; width:60%;  border:1px solid #dfdfdf; padding:20px; margin-left:20px; margin-bottom:30px}

.warp .admin_block09 { float:left; width:31%;   margin-bottom:30px}
.warp .admin_block10 { float:left; width:31%;   margin-bottom:30px;margin-left:20px;}
.warp .admin_block11 { float:left; width:31%;   margin-bottom:30px;margin-left:20px;}

.warp .admin_block09 .line { border:1px solid #dfdfdf; padding:20px;}
.warp .admin_block10 .line { border:1px solid #dfdfdf; padding:20px;}
.warp .admin_block11 .line { border:1px solid #dfdfdf; padding:20px;}

.warp .admin_block12 { float:left; width:50%; }
.warp .admin_block12 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }
.warp .admin_block13 { float:left; width:26%;padding:0px 2% }
.warp .admin_block13 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }

.warp .admin_block14 { float:left; width:43%; }
.warp .admin_block14 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }
.warp .admin_block15 { float:left; width:33%; padding:0px 2% }
.warp .admin_block15 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }

.warp .admin_block16 { float:left; width:38%;}
.warp .admin_block16 .block_line {  border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }
.warp .admin_block16_none { float:left; width:44%;  border:1px solid #ffffff; padding:20px; margin-left:20px; margin-bottom:30px}
.warp .admin_block17 { float:right; width:58%; }
.warp .admin_block17 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }

.warp .admin_block18 { float:left; width:33%;}
.warp .admin_block18 .block_line {  border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }
.warp .admin_block18_none { float:left; width:44%;  border:1px solid #ffffff; padding:20px; margin-left:20px; margin-bottom:30px}
.warp .admin_block19 { float:right; width:63%; }
.warp .admin_block19 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }

.warp .admin_block20 { width:100%; }
.warp .admin_block20 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }

.warp .admin_block23 { float:left; width:41%; }
.warp .admin_block23 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }
.warp .admin_block24 { float:left; width:35%; padding:0px 2% }
.warp .admin_block24 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px ; border-radius:3px }


.admin_main { font-size:13px; width:100%; }
.admin_main ul {padding:0px; margin:0px;}
.admin_main ul li {float:left; padding:10px; width:12%; list-style:none; border:1px solid #e3f2fd; position:relative; margin-right:4px; border-radius:20px}
.admin_main .title {background:#eb5a5a; color:#fff; font-weight:bold; border:1px solid #eb5a5a}
.admin_main ul li p {position:absolute; top:5px; right:10px; font-size:14px; font-weight:bold}
.admin_main  a {color:#fff}

.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px}

/* 레이아웃 */
#hd {z-index:10;min-width:1000px;background:#fff }
#hd h1, #hd h2 {position:absolute;border:0;font-size:0;line-height:0;overflow:hidden}
#hd_wrap {z-index:11;position:relative;margin:0 auto}
#logo {position:relative;height:40px; background:#1a273c}
#logo img {position:absolute;top:10px;left:20px}

#tnb {z-index:2;position:absolute;top:13px;right:20px;zoom:1}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb {float:right;margin:0;padding:0;zoom:1}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li {float:left;margin:0 0 0 10px;padding:0 10px 0 0;border-right:1px solid #6e7888}
#tnb #tnb_logout {border-right:0;padding:0}
#tnb a {display:inline-block;color:#fff;text-decoration:none;letter-spacing:-0.1em}
#tnb a:focus, #tnb a:hover {color:#ffff66}
#tnb #tnb_logout a {color:#ff3061}
#tnb span {position:absolute;bottom:10px;left:0;width:100%;text-align:center}

/* gnb */
#gnb {position:relative;z-index:12;min-width:999px;background:#4d5460;}
#gnb h2 {margin:0;paddi2019-12-31ng:0;font-size:0;line-height:0;overflow:hidden}
#gnb_1dul {position:relative;margin:0 20px;padding:0;zoom:1}
#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli {z-index:13;position:relative;float:left;margin:0 0 0 -1px;border:1px solid #333;border-top:0;border-bottom:0; font-size:13px}
.gnb_1da {display:block;width:120px;height:45px;color:#fff;font-weight:bold;text-align:center;text-decoration:none;line-height:45px}
.gnb_1da:focus, .gnb_1da:hover {text-decoration:none}
.gnb_1dli_air .gnb_1da {background:#1a273c;color:#fff}
.gnb_1dli_on .gnb_1da {background:#1a273c;color:#fff}
.gnb_2dul {display:none;position:absolute;top:45px;width:180px;border:1px solid #999;border-top:0;background:#fff}
.gnb_2da {display:block;padding:8px 10px;background:#fff;color:#000;text-decoration:none}
.gnb_grp_style {background:#f7f7f7 !important}
.gnb_2da:focus, .gnb_2da:hover {background:#1a273c !important;color:#fff !important;text-decoration:none}
.gnb_1dli_air .gnb_2da {background:#fff;color:#000}
.gnb_1dli_on .gnb_2da {background:#fff;color:#000}
.gnb_1dli_over .gnb_2dul {display:block;left:-1px}
.gnb_1dli_over2 .gnb_2dul {display:block;right:-1px}

.gnb_grp_div {border-top:1px solid #eee}

#lnb {margin:0;padding:15px;min-width:970px;border-bottom:1px solid #e9e9e9;list-style:none;zoom:1; background:#dfdfdf}
#lnb:after {display:block;visibility:hidden;clear:both;content:""}
#lnb li {float:left}
#lnb a {display:inline-block;padding:0 10px;border-right:1px solid #ccc;font-size:13px;letter-spacing:-0.1em}

/* 중간 레이아웃 */
#wrapper {z-index:5;margin:20px 0;min-width:1000px;zoom:1}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#container {z-index:4;position:relative}

/* 텍스트 크기 조절 */
#text_size {position:absolute;top:-6px;right:20px}
#text_size button {margin:0;padding:0;border:0;background:transparent;cursor:pointer}
.ts_up {font-size:1.167em !important}
.ts_up2 {font-size:1.3em !important}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#to_content a {z-index:100000;position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
#to_content a:focus, #to_content a:active {width:100%;height:70px;background:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.1em}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #ddd;border-right:0}
#captcha_mp3 img {border:1px solid #ddd;border-left:0;background:#494949}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 공통박스 */
.compare_wrap {margin:0 20px 10px;zoom:1}
.compare_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.compare_wrap section {margin:10px 0;padding-top:10px}
.compare_wrap h3 {margin:10px 0 20px;text-align:center}
.compare_wrap .tbl_frm {margin:0}
.compare_wrap .frm_input {background:#fff}
.compare_wrap .btn_confirm {padding:10px 0 0}
.compare_left {float:left;width:49%}
.compare_right {float:right;width:49%}

/* 버튼 */
.btn_confirm {margin:0 20px 10px}

.btn_confirm01 {clear:both;text-align:center}
.btn_confirm01 button {padding:0 15px;height:30px;border:0;background:#617d46;color:#fff}
.btn_confirm01 a {display:inline-block;padding:0 15px;height:30px;background:#617d46;color:#fff;text-decoration:none;line-height:2.5em;vertical-align:middle}
.btn_confirm01 a:focus {background:#555}

.btn_confirm02 {clear:both;margin-top:10px;text-align:center}
.btn_confirm02 button {padding:0 15px;height:30px;border:0;background:#7d889a;color:#fff}
.btn_confirm02 a {display:inline-block;padding:0 15px;height:30px;background:#617d46;color:#fff;text-decoration:none;line-height:2.5em;vertical-align:middle}
.btn_confirm02 a:focus {background:#555}

.btn_submit {margin:0;padding:0;border:0;background:#7d889a;color:#fff;cursor:pointer; }
.btn_confirm .btn_submit {padding:0 15px;border:0;height:30px;color:#fff; border:1px solid #2c3c56}
.btn_cancel {display:inline-block;padding:0 15px;height:30px;border:0;background:#617d46;color:#fff;text-decoration:none}
a.btn_cancel {line-height:2.5em;vertical-align:middle}
.btn_frmline {display:inline-block;padding:0 7px;height:24px;border:0;background:#444;color:#fff !important;letter-spacing:-0.1em;text-decoration:none;vertical-align:middle;line-height:2em} /* 우편번호검색버튼 등 */
.btn_frmline:focus, .btn_frmline:hover, .btn_frmline:active {text-decoration:none}

.btn_win {margin:0 20px 10px} /* 새창용 */

.btn_win01 {clear:both;text-align:center}
.btn_win01 a, .btn_win01 button {padding:0 10px;height:22px;border:1px solid #ccc;background:#fafafa}
.btn_win01 a {display:inline-block;line-height:2em;cursor:pointer}
.btn_win01 a:focus, .btn_win01 a:hover {text-decoration:none}

.btn_win02 {clear:both;text-align:center}
.btn_win02 a, .btn_win02 button {padding:0 15px;height:30px;border:0;background:#617d46;color:#fff}
.btn_win02 a {display:inline-block;vertical-align:middle;cursor:pointer}
.btn_win02 a:focus, .btn_win02 a:hover {text-decoration:none}
.btn_win02 button.btn_submit {background:#ff3061;color:#fff}

.btn_list {margin:0 20px 10px} /* 목록용 */

.btn_list01 {}
.btn_list01 input, .btn_list01 button, .btn_list01 a {display:inline-block;margin:0;padding:7px 10px;border:1px solid #2c3c56;background:#fff;text-decoration:none;cursor:pointer; color:#2c3c56}
.btn_list01 a:focus {background:#555}

.btn_list02 {}
.btn_list02 input, .btn_list02 button, .btn_list02 a {display:inline-block;padding:5px 10px;border:1px solid #ccc;background:#fafafa;text-decoration:none;cursor:pointer}
.btn_list02 a:focus {background:#555}

.btn_list03 {text-align:right}
.btn_list03 a {display:inline-block;padding:0 15px;height:28px;background:#617d46;color:#fff;text-decoration:none;line-height:2.4em;vertical-align:middle}
.btn_list03 a:focus {background:#555}

.btn_add {margin:0 20px 10px} /* 목록용 추가 */

.btn_add01 {text-align:right}
.btn_add01 a, .btn_add01 button {padding:10px;border:1px solid #2c3c56;background:#7d889a;text-decoration:none;cursor:pointer; color:#fff}
.btn_add01 a {display:inline-block;vertical-align:middle}
.btn_add01 button {margin:0}

/* 필수입력 */
.required {background:url('../../img/wrest.gif') #f6f9fa top right no-repeat !important}

/* 외부서비스 사이트코드 */
.sitecode {display:inline-block;font:bold 15px 'Verdana';vertical-align:middle}

/* 폼 */
textarea, .frm_input {border:1px solid #ced9de;background:#f6f9fa;vertical-align:middle}
textarea {padding:2px;width:90%}
.frm_input {height:22px;line-height:1.8em}
.full_input {width:98%}
select {border:1px solid #ced9de}
legend {position:absolute;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;border:0;overflow:hidden}

.readonly {}

/* 폼 안내글 */
.frm_info {display:block;padding:0 0 5px;color:#5b747e}

/* 목록 바로가기 */
.anchor {margin:0 20px 10px 21px;padding:0;zoom:1}
.anchor:after {display:block;visibility:hidden;clear:both;content:""}
.anchor li {float:left;margin-left:-1px;list-style:none}
.anchor a {display:inline-block;padding:5px 10px;border:1px solid #c8ced1;background:#d6dde1;text-decoration:none}
.anchor a:focus, .anchor a:hover {background:#c8d2d8}

#sort_mb {width:800px}

#sort_sodr {width:600px}

/* 하단 레이아웃 */
#ft {clear:both;margin:20px 0;padding:10px 20px;min-width:960px;border-top:1px solid #d0d6d8}

/* 페이지 내 검색 */
.local_sch {min-width:960px}
.local_sch .btn_submit {padding:0 5px;height:24px;border:0;color:#fff;font-size:0.95em;vertical-align:middle;cursor:pointer}

.local_sch01 {margin:0 0 10px;padding:0 20px 10px;border-bottom:1px solid #e9e9e9}
.local_sch01 span {display:block;margin:0 0 5px}

.local_sch02 {margin:0 0 10px;padding:0 20px 5px;border-bottom:1px solid #e9e9e9}
.local_sch02 div {padding:0 0 5px;margin:0 0 5px;border-bottom:1px solid #f4f4f4}
.local_sch02 div.sch_last {margin:0;border:0}
.local_sch02 strong {display:inline-block;width:80px}
.local_sch02 strong.sch_long {width:160px}
.local_sch02 label {display:inline-block;margin:0 5px 0 0}
.local_sch02 button {margin:0;padding:5px;border:1px solid #ced9de;background:#f6f9fa;font-size:0.95em;vertical-align:middle;cursor:pointer}

/* 페이지 내 실행 */
.local_cmd {min-width:960px}

.local_cmd01 {margin:0 0 10px;padding:0 20px}
.local_cmd01 .cmd_tit {font-weight:bold}
.local_cmd01 .btn_submit {padding:3px 5px;border:1px solid #ff3061;color:#fff;font-size:0.95em;vertical-align:middle;cursor:pointer}

/* 페이지 내 안내문 */
.local_desc {}
.local_desc ol, .local_desc ul {margin:0;padding:0 0 10px 21px}
.local_desc li {margin:0 0 5px}

.local_desc01 {margin:0 20px 10px;padding:10px 20px 0;min-width:920px;border:1px solid #f2f2f2;background:#f9f9f9}
.local_desc01 strong {color:#ff3061}
.local_desc01 a {text-decoration:underline}

.local_desc02 {margin:0 20px 10px;min-width:960px} /* 주로 온라인 서식 관련 안내 내용에 사용 */
.local_desc02 p {padding:0;line-height:1.8em}

/* 페이지 내 카운트 */
.local_ov {min-width:960px}

.local_ov01 {position:relative;margin:-10px 0 10px;padding:10px 20px;border-bottom:1px solid #e9e9e9;background:#f2f5f9}
.local_ov01 .ov_listall {display:inline-block;margin:0 5px 0 0;padding:0 10px 0 0;border-right:1px solid #ccc}

/* 테이블 */
table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
table caption {height:0;font-size:0;line-height:0;overflow:hidden}
tbody td {}
tfoot th, tfoot td {}
tfoot th {}
tfoot td {font-weight:bold;text-align:center}

.tbl_wrap {margin:0 0 0px;padding:0 20px}

/* thead 한 줄 테이블 */
.tbl_head01 {}
.tbl_head01 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head01 thead th {padding:10px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;letter-spacing:-0.1em}
.tbl_head01 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 thead a {color:#383838;text-decoration:underline}
.tbl_head01 tbody th {}
.tbl_head01 tbody td {padding:10px 5px;line-height:1.4em;word-break:break-all}

/* thead 두 줄 테이블 */
.tbl_head02 {}
.tbl_head02 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head02 thead th {padding:5px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;letter-spacing:-0.1em}
.tbl_head02 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 thead a {color:#383838;text-decoration:underline}
.tbl_head02 tbody th {}
.tbl_head02 tbody td {padding:5px 3px;line-height:1.4em;word-break:break-all}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 10px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:10px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left; color: #3a3a3a}
.tbl_frm01 td {padding:10px 10px; border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; color: #3c3c3c}
.tbl_frm01 #captcha {margin:0;padding:0;border:0;background:transparent}
.tbl_frm01 #captcha input {margin-left:5px;text-align:center}
.tbl_frm01 input[type=text] { border:1px solid #b7bcc3; padding: 5px; width:400px }
.tbl_frm01 input[type=password] { border:1px solid #b7bcc3; padding: 5px; width:400px }
.tbl_frm01 .bt .yes { background:#4179b3; padding:3px 6px; margin:0px 0px 0px 10px;color: #fff; font-size: 12px; }
.tbl_frm01 input[type=checkbox] { width:20px}
.tbl_frm01 .CT { text-align:center}
.tbl_frm01 .RT { text-align:right}
.tbl_frm01 .order_no  { color:#000; font-weight: bold; }
.tbl_frm01 .order_no span { color:#e91e5a; font-weight: bold; }
.tbl_frm01 .order_no2 { color:#0071cb; font-weight:bold; }
.tbl_frm01 .pink { color:#e91e5a; font-weight:bold; font-size:15px}
.tbl_frm01 .nation ul { padding:0px; margin: 0px; list-style: none}
.tbl_frm01 .nation ul li {  float: left; width: 200px}
.tbl_frm01 .nation2 ul { padding:0px; margin: 0px; list-style: none}
.tbl_frm01 .nation2 ul li {  float: left; width: 200px}
.tbl_frm01 .nation2 input[type=text]  { border:1px solid #b7bcc3; padding: 5px; width:80px }
.tbl_frm01 select { padding:3px}
.tbl_frm01 .pink_big { color:#e91e5a; font-weight:bold; font-size:25px}
.tbl_frm01 .gray_big { color:#656565; font-weight:bold; font-size:25px}
.tbl_frm01 .special span { font-weight:bold; padding-left:20px }
.tbl_frm01 .special2 span { font-weight:bold; padding-right:20px; padding-left:5px }

.buy_memo {border:1px solid #dfdfdf; padding:5px; font-size:12px; margin-bottom:10px; width:100%; box-sizing:border-box; color:#000}
.buy_memo span {color:#e91e5a; font-weight:bold}

.tbl_frm01_s {margin:0 0 10px}
.tbl_frm01_s table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01_s th {width:70px;padding:10px 13px;border:1px solid #e9e9e9;background:#f5f8f9;text-align:center; color: #3a3a3a}
.tbl_frm01_s td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; color: #3c3c3c; }
.tbl_frm01_s #captcha {margin:0;padding:0;border:0;background:transparent}
.tbl_frm01_s #captcha input {margin-left:5px;text-align:center}
.tbl_frm01_s input[type=text] { border:1px solid #b7bcc3; padding: 5px;width: 100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-sizing:border-box; -o-sizing:border-box; box-sizing:border-box; }
.tbl_frm01_s .bt .yes { background:#4179b3; padding:3px 6px; margin:0px 0px 0px 10px;color: #fff; font-size: 12px; }
.tbl_frm01_s input[type=checkbox] { width:20px}
.tbl_frm01_s .sm input[type=text] { border:1px solid #b7bcc3; padding: 5px;width: 50%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-sizing:border-box; -o-sizing:border-box; box-sizing:border-box; }
.tbl_frm01_s .CT { text-align:center}
.tbl_frm01_s .RT { text-align:right}
.tbl_frm01_s .form_img .center_in { padding-top:10px}
.tbl_frm01_s .form_img .center_in img { width:50px; height:50px}
.tbl_frm01_s .form_img .center_in p { color:#d95f5f; font-weight:bold}
.tbl_frm01_s .form_img p { margin:0px; padding:0px; color:#000; font-weight:bold; text-align:center; font-size:14px}
.tbl_frm01_s .form_img .bt { background-color:#565656; padding:2px; border-radius:2px; color:#fff; width:30px; font-size:12px; text-align:center}
.tbl_frm01_s .form_img span { margin-top:20px; background-color:#4db3ab; padding:10px; display:block; color:#fff; font-size:14px; font-weight:bold}
.tbl_frm01_s .form_img .state { padding:5px;}
.tbl_frm01_s .pink { color:#e91e5a; font-weight:bold}
.tbl_frm01_s .pink2 { color:#e91e5a; font-weight:bold; font-size:15px}
.tbl_frm01_s .CT {text-align:center}

.tbl_frm01_s .line_pink input[type=text] { border:1px solid #e91e5a; padding: 5px; width:70% }
.tbl_frm01_s .line_pink_ye input[type=text] { border:1px solid #e91e5a; padding: 5px; width:70%; background-color:#FF0 }
.tbl_frm01_s .form_img .leck_info {  text-align:center; }
.tbl_frm01_s .form_img .leck_info p { padding:0 0 0 0; margin:0 0 0 0; color:#e91e5a; font-size:20px;  font-weight:bold;}
.tbl_frm01_s .form_img .leck_info span { font-weight:bold; padding:3px 0; margin:5px 0 10px 0; display:block}
.tbl_frm01_s input[type=file] { width:150px;  font-size: 11px}
.tbl_frm01_s .nodata_img img { width:80px; height:80px}

.tbl_frm01_bs {margin:0 0 10px}
.tbl_frm01_bs table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01_bs th {width:70px;padding:5px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left; color: #3a3a3a}
.tbl_frm01_bs td {padding:7px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; color: #3c3c3c}
.tbl_frm01_bs .nodata_img img { width:50px; height:50px}

.tbl_frm01_bs_p {margin:0 0 10px}
.tbl_frm01_bs_p img { width:45px; height:45px}

.tbl_frm01 .form_img { text-align:center;  border-bottom:1px solid #e9e9e9;}
.tbl_frm01 .form_img .center_in { padding-top:10px}
.tbl_frm01 .form_img .center_in img { width:50px; height:50px}
.tbl_frm01 .form_img .center_in p { color:#d95f5f; font-weight:bold}
	
.sti { font-size:15px; color: #3178c2; padding: 10px; font-weight: bold;}

.tbl_frm02 {margin:0 0 10px}
.tbl_frm02 table {width:100%;border-collapse:collapse;border-spacing:0; border-right:1px solid #e9e9e9}
.tbl_frm02 table tr:nth-child(odd)  {  }
.tbl_frm02 table tr:nth-child(even)   { background-color: #f4f6f9; }
.tbl_frm02 th {width:70px;padding:10px 13px;border:1px solid #e9e9e9; border-left:1px solid #e9e9e9; background:#3f69a9;color: #fff}
.tbl_frm02 td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;color: #3c3c3c;border-left:1px solid #e9e9e9;}
.tbl_frm02 .CT { text-align:center}
.tbl_frm02 .RT { text-align:right}
.tbl_frm02 .deco {text-align:center; font-size:12px; background-color:#e91e5a; padding: 2px 6px; color: #fff;  border-radius:2px }
.tbl_frm02 .deco a{ color: #fff; }
.tbl_frm02 .deco2 {text-align:center; font-size:11px; background-color:#999; padding: 2px 6px; color: #fff; border-radius:2px }
.tbl_frm02 .deco2 a{ color: #fff; }
.tbl_frm02 .nodata_img { text-align:center}
.tbl_frm02 .nodata_img2 { text-align:left}
.tbl_frm02 .nodata_img2 img { width:50px; height:50px;}
.tbl_frm02 .nodata_img img { width:50px; height:50px;}
.tbl_frm02 input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90% }
.tbl_frm02 .order_no span { font-size:13px; color:#e91e5a; font-weight: bold; padding-bottom: 5px}
.tbl_frm02 .order_no3 { font-size:13px}
.tbl_frm02 .order_no3 span { font-size:14px; color:#e91e5a; font-weight: bold; padding-bottom: 5px;}
.tbl_frm02 .order_no p{ color:#fff; display:block;  font-weight:bold; padding:3px 0; background-color:#1aada2; margin:5px 0 10px 0}
.tbl_frm02 .detail_info { text-align:left; line-height: 150%}
.tbl_frm02 .detail_info span { color:#000; padding-right: 20px}
.tbl_frm02 .detail_info .buga { background-color:#fafafa; border: 1px dotted #92aac2; padding: 5px; margin-top: 10px}
.tbl_frm02 .order_no2 { color:#0071cb; font-weight:bold; }
.tbl_frm02 .order_no2 span { color:#333; font-weight:normal}
.tbl_frm02 .item_info table tr:nth-child(odd)  { !important }
.tbl_frm02 .item_info table tr:nth-child(even)  {!important  }
.tbl_frm02 .item_info { }
.tbl_frm02 .item_info p {  color:#000;  font-weight:bold; font-size:12px }
.tbl_frm02 .item_info span { padding-right:20px}
.tbl_frm02 .item_info .pt span { padding: 2px; margin: 0px; color: #fff}
.tbl_frm02 .item_info .item_info_detail span { font-weight:bold; margin-right: 10px; color: #000}

.tbl_frm02 .in_bo input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90%; margin-bottom: 2px  }
.tbl_frm02 .red span{ color: #e91e5a }
.tbl_frm02 .form_img img { width:150px; height: 150px}
.tbl_frm02 .leck {  padding: 20px; color: #e91e5a; font-size:20px; text-align: center; font-weight:bold}
.tbl_frm02 .leck_tool { background-color:#B0B0B0}
.tbl_frm02 .now { text-align:left; padding-bottom:5px; font-weight:bold}
.tbl_frm02 .view_detail { float:left; width: 68%; }
.tbl_frm02 .view_detail ul { padding:0px; margin:0px; list-style: none}
.tbl_frm02 .view_detail ul li { border-bottom:1px dotted #dfdfdf; padding: 0px 3px 5px 3px; margin-bottom:4px}
.tbl_frm02 .view_detail ul li span { font-weight:bold; color: #000; padding-left: 10px; padding-right: 10px}
.tbl_frm02 .view_detail ul li .pink {font-size:14px; color:#e91e5a; font-weight: bold;}
.tbl_frm02 .view_detail .auto_jak { text-overflow:ellipsis; overflow:hidden;white-space:nowrap; width: 500px}
.tbl_frm02 .pink { font-weight:bold; font-size:15px; color:#e91e5a}
.tbl_frm02 span { padding:1px 2px; border-radius: 2px; font-size: 12px }
.tbl_frm02 .f_bold {font-weight:bold}
.tbl_frm02 .old {background:#f5f8f9; color:#3a3a3a; font-weight:bold}

.tbl_frm02_blue {margin:0 0 10px}
.tbl_frm02_blue table {width:100%;border-collapse:collapse;border-spacing:0; border-right:1px solid #e9e9e9}
.tbl_frm02_blue th {width:70px;padding:10px 13px;border:1px solid #e9e9e9; border-left:1px solid #e9e9e9; background:#f5f8f9;color: #3a3a3a}
.tbl_frm02_blue td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;color: #3c3c3c;border-left:1px solid #e9e9e9;}
.tbl_frm02_blue .CT { text-align:center}
.tbl_frm02_blue .RT { text-align:right}
.tbl_frm02_blue .deco {text-align:center; font-size:12px; background-color:#e91e5a; padding: 2px 6px; color: #fff;  border-radius:2px }
.tbl_frm02_blue .deco a{ color: #fff; }
.tbl_frm02_blue .deco2 {text-align:center; font-size:11px; background-color:#999; padding: 2px 6px; color: #fff; border-radius:2px }
.tbl_frm02_blue .deco2 a{ color: #fff; }
.tbl_frm02_blue .nodata_img { text-align:center}
.tbl_frm02_blue .nodata_img2 { text-align:left}
.tbl_frm02_blue .nodata_img2 img { width:50px; height:50px;}
.tbl_frm02_blue .nodata_img img { width:50px; height:50px;}
.tbl_frm02_blue input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90% }
.tbl_frm02_blue .order_no span { font-size:13px; color:#e91e5a; font-weight: bold; padding-bottom: 5px}
.tbl_frm02_blue .order_no3 { font-size:13px}
.tbl_frm02_blue .order_no3 span { font-size:14px; color:#e91e5a; font-weight: bold; padding-bottom: 5px;}
.tbl_frm02_blue .order_no p{ color:#fff; display:block;  font-weight:bold; padding:3px 0; background-color:#1aada2; margin:5px 0 10px 0}
.tbl_frm02_blue .detail_info { text-align:left; line-height: 150%}
.tbl_frm02_blue .detail_info span { color:#000; padding-right: 20px}
.tbl_frm02_blue .detail_info .buga { background-color:#fafafa; border: 1px dotted #92aac2; padding: 5px; margin-top: 10px}
.tbl_frm02_blue .order_no2 { color:#0071cb; font-weight:bold; }
.tbl_frm02_blue .order_no2 span { color:#333; font-weight:normal}
.tbl_frm02_blue .item_info { }
.tbl_frm02_blue .item_info p {  color:#000;  font-weight:bold; font-size:12px }
.tbl_frm02_blue .item_info span { padding-right:20px}
.tbl_frm02_blue .item_info .pt span { padding: 2px; margin: 0px; color: #fff}
.tbl_frm02_blue .item_info .item_info_detail span { font-weight:bold; margin-right: 10px; color: #000}
.tbl_frm02_blue .in_bo input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90%; margin-bottom: 2px  }
.tbl_frm02_blue .red span{ color: #e91e5a }
.tbl_frm02_blue .form_img img { width:150px; height: 150px}
.tbl_frm02_blue .leck {  padding: 20px; color: #e91e5a; font-size:20px; text-align: center; font-weight:bold}
.tbl_frm02_blue .leck_tool { background-color:#B0B0B0}
.tbl_frm02_blue .now { text-align:left; padding-bottom:5px; font-weight:bold}
.tbl_frm02_blue .view_detail { float:left; width: 68%; }
.tbl_frm02_blue .view_detail ul { padding:0px; margin:0px; list-style: none}
.tbl_frm02_blue .view_detail ul li { border-bottom:1px dotted #dfdfdf; padding: 0px 3px 5px 3px; margin-bottom:4px}
.tbl_frm02_blue .view_detail ul li span { font-weight:bold; color: #000; padding-left: 10px; padding-right: 10px}
.tbl_frm02_blue .view_detail ul li .pink {font-size:14px; color:#e91e5a; font-weight: bold;}
.tbl_frm02_blue .view_detail .auto_jak { text-overflow:ellipsis; overflow:hidden;white-space:nowrap; width: 500px}
.tbl_frm02_blue .pink { font-weight:bold; font-size:15px; color:#e91e5a}
.tbl_frm02_blue span { padding:1px 2px; border-radius: 2px; font-size: 12px }
.tbl_frm02_blue .f_bold {font-weight:bold}
.tbl_frm02_blue .kjnew {color:#000; font-size:12px; font-weight:bold;}
.tbl_frm02_blue .kjnew p {font-weight:bold; font-size:15px; margin:0px; padding:0px 0 5px 0}
.tbl_frm02_blue .option {font-size:14px; font-weight::bold}
.tbl_frm02_blue .option p {background:#fff57e; font-size:15px; color:#e91e5a; padding:5px 5px; display:inline}

.tbl_frm02_blue2 {margin:0 0 10px}
.tbl_frm02_blue2 table {width:100%;border-collapse:collapse;border-spacing:0; border-right:1px solid #e9e9e9}
.tbl_frm02_blue2 th {width:70px;padding:10px 13px;border:1px solid #e9e9e9; border-left:1px solid #e9e9e9; background:#f5f8f9;color: #3a3a3a}
.tbl_frm02_blue2 td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;color: #3c3c3c;border-left:1px solid #e9e9e9; font-size:15px; font-weight:bold}
.tbl_frm02_blue2 .RT{ text-align:right}

.tbl_frm02_jin {margin:0 0 10px}
.tbl_frm02_jin table {width:100%;border-collapse:collapse;border-spacing:0; border-right:1px solid #e9e9e9}
.tbl_frm02_jin th {width:70px;padding:10px 13px;border:1px solid #e9e9e9; border-left:1px solid #6d89b3; background:#3f69a9;color: #fff}
.tbl_frm02_jin td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #8997ab;color: #3c3c3c;border-left:1px solid #e9e9e9;}
.tbl_frm02_jin .CT { text-align:center}
.tbl_frm02_jin .RT { text-align:right}
.tbl_frm02_jin .deco {text-align:center; font-size:12px; background-color:#e91e5a; padding: 2px 6px; color: #fff;  border-radius:2px }
.tbl_frm02_jin .deco a{ color: #fff; }
.tbl_frm02_jin .deco2 {text-align:center; font-size:11px; background-color:#999; padding: 2px 6px; color: #fff; border-radius:2px }
.tbl_frm02_jin .deco2 a{ color: #fff; }
.tbl_frm02_jin .nodata_img { text-align:center}
.tbl_frm02_jin .nodata_img2 { text-align:left}
.tbl_frm02_jin .nodata_img2 img { width:50px; height:50px;}
.tbl_frm02_jin .nodata_img img { width:50px; height:50px;}
.tbl_frm02_jin input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90% }
.tbl_frm02_jin .order_no span { font-size:13px; color:#e91e5a; font-weight: bold; padding-bottom: 5px}
.tbl_frm02_jin .order_no3 { font-size:13px}
.tbl_frm02_jin .order_no3 span { font-size:14px; color:#e91e5a; font-weight: bold; padding-bottom: 5px;}
.tbl_frm02_jin .order_no p{ color:#fff; display:block;  font-weight:bold; padding:3px 0; background-color:#1aada2; margin:5px 0 10px 0}
.tbl_frm02_jin .detail_info { text-align:left; line-height: 150%}
.tbl_frm02_jin .detail_info span { color:#000; padding-right: 20px}
.tbl_frm02_jin .detail_info .buga { background-color:#fafafa; border: 1px dotted #92aac2; padding: 5px; margin-top: 10px}
.tbl_frm02_jin .order_no2 { color:#0071cb; font-weight:bold; }
.tbl_frm02_jin .order_no2 span { color:#333; font-weight:normal}
.tbl_frm02_jin .item_info { }
.tbl_frm02_jin .item_info p {  color:#000;  font-weight:bold; font-size:12px }
.tbl_frm02_jin .item_info span { padding-right:20px}
.tbl_frm02_jin .item_info .pt span { padding: 2px; margin: 0px; color: #fff}
.tbl_frm02_jin .item_info .item_info_detail span { font-weight:bold; margin-right: 10px; color: #000}
.tbl_frm02_jin .item_info .item_info_detail .bb {font-weight:bold; color:#e91e5a; text-decoration:underline}
.tbl_frm02_jin .item_info table {width:100%;border-collapse:collapse;border-spacing:0; border-right:1px solid #e9e9e9}
.tbl_frm02_jin .item_info table td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;color: #3c3c3c;border-left:1px solid #e9e9e9;}
.tbl_frm02_jin .in_bo input[type=text] { border:1px solid #b7bcc3; padding: 5px; width: 90%; margin-bottom: 2px  }
.tbl_frm02_jin .red span{ color: #e91e5a }
.tbl_frm02_jin .form_img img { width:150px; height: 150px}
.tbl_frm02_jin .leck {  padding: 20px; color: #e91e5a; font-size:20px; text-align: center; font-weight:bold}
.tbl_frm02_jin .leck_tool { background-color:#B0B0B0}
.tbl_frm02_jin .now { text-align:left; padding-bottom:5px; font-weight:bold}
.tbl_frm02_jin .view_detail { float:left; width: 68%; }
.tbl_frm02_jin .view_detail ul { padding:0px; margin:0px; list-style: none}
.tbl_frm02_jin .view_detail ul li { border-bottom:1px dotted #dfdfdf; padding: 0px 3px 5px 3px; margin-bottom:4px}
.tbl_frm02_jin .view_detail ul li span { font-weight:bold; color: #000; padding-left: 10px; padding-right: 10px}
.tbl_frm02_jin .view_detail ul li .pink {font-size:14px; color:#e91e5a; font-weight: bold;}
.tbl_frm02_jin .view_detail .auto_jak { text-overflow:ellipsis; overflow:hidden;white-space:nowrap; width: 500px}
.tbl_frm02_jin .pink { font-weight:bold; font-size:15px; color:#e91e5a}
.tbl_frm02_jin span { padding:1px 2px; border-radius: 2px; font-size: 12px }
.tbl_frm02_jin .f_bold {font-weight:bold}
.tbl_frm02_jin p { font-size:15px; display:inline; font-weight:bold}
.tbl_frm02_jin .pad {padding-left:40px}
.tbl_frm02_jin .deco3  {text-align:center; font-size:12px; border:1px solid #000; padding: 5px 5px; color: #000; border-radius:2px }
.tbl_frm02_jin .deco3  a{ color: #000; }
.tbl_frm02_jin .deco4 {text-align:center; font-size:12px; background-color:#393939; padding: 5px 5px; color: #fff; border-radius:2px;border:1px solid #000; }
.tbl_frm02_jin .deco4 a{ color: #fff; }






.tbl_frm03 { border:1px solid #dfdfdf; padding: 20px; text-align:left}
.tbl_frm03 span { padding-left:10px; color: #212121}
.tbl_frm03 input[type=checkbox] { width:20px; border: 1px solid #dfdfdf}
.tbl_frm03 table td { padding:5px 0px 5px 30px}
.tbl_frm03 table th { color:#d95f5f; font-size:13px; font-weight:bold; padding:5px 0px}


.tbl_frm03_none { padding: 0px; text-align:left}
.tbl_frm03_none span { padding-left:10px; color: #858585; font-weight: bold; font-size: 12px}
.tbl_frm03_none input[type=checkbox] { width:20px; border: 1px solid #dfdfdf}
.tbl_frm03_none table td { padding:5px 0px 5px 30px}
.tbl_frm03_none table th { color:#d95f5f; font-size:13px; font-weight:bold; padding:5px 0px}
.tbl_frm03_none p { padding:3px 0 2px 20px; margin:0 0 0 0; color:#333; font-size:11px}
.tbl_frm03_none .semi { color:#06C; padding:3px 0 2px 20px; margin:0 0 0 0;font-size:11px  }
.tbl_frm03_none .semi input[type=text] { width:100px; border: 1px solid #ced9de; padding: 3px}
.tbl_frm03_none .semi span { padding-left:10px; color: #000; font-weight: bold; font-size: 12px}
.tbl_frm03_none .memo { color:#666; padding:3px 0 2px 20px; margin:0 0 0 0;font-size:11px  }

.tbl_frm04 { border:1px solid #dfdfdf; padding: 20px}
.tbl_frm04 span { padding-left:10px; color: #212121}
.tbl_frm04 input[type=checkbox] { width:20px; border: 1px solid #dfdfdf}
.tbl_frm04 table { width: 100%}
.tbl_frm04 table td { padding:2px 0px 2px 0px;}
.tbl_frm04 table th { padding:2px 0px; text-align: left; font-weight:normal}
.tbl_frm04 input[type=text] { border:1px solid #b7bcc3; padding: 3px; width: 70%}
.tbl_frm04 .hap_line { border: 2px solid #2c77d4; padding: 8px 10px;  font-size: 15px }
.tbl_frm04 .hap_line span {color: #2c77d4; font-weight: bold; font-size: 20px; padding-left: 20px}



.tbl_frm05 {margin:0 0 20px}
.tbl_frm05 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm05 th {width:70px;padding:5px 13px;border:1px solid #e9e9e9;border-left:0;border-right:0;background:#f5f8f9;text-align:center; color: #3a3a3a}
.tbl_frm05 td {padding:5px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; color: #3c3c3c}
.tbl_frm05 .tracking span { padding-right:20px}
.tbl_frm05 .tracking p span { color:#e91e5a}
.tbl_frm05 .CT { text-align:center}
.tbl_frm05 .deco {text-align:center; font-size:12px; background-color:#e91e5a; padding: 2px 6px; color: #fff;  border-radius:2px }
.tbl_frm05 .deco a{ color: #fff; }
.tbl_frm05 .deco2 {text-align:center; font-size:11px; background-color:#999; padding: 2px 6px; color: #fff; border-radius:2px }
.tbl_frm05 .deco2 a{ color: #fff; }
.tbl_frm05 .nodata_img { text-align:center}
.tbl_frm05 .nodata_img img { width:50px; height:50px;}
.tbl_frm05 .order_no { text-align:center; color:#0071cb; font-weight:bold}
.tbl_frm05 .bae_special {text-align:center;}
.tbl_frm05 .bae_special span {color:#0071cb; font-weight:bold}
.tbl_frm05 .tracking p span { color:#3B79BB; font-weight: bold}
.tbl_frm05 p { color:#000 ; font-weight:bold; padding:0 0 5px 0; }
.tbl_frm05 .tracking input[type=text] { border:1px solid #e91e5a; padding: 3px; width: 50%; margin-top:5px}
.tbl_frm05 p input[type=text]  { border:1px solid #000; padding:2px}

.tbl_frm06 {margin:0 0 20px}
.tbl_frm06 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm06 th {width:70px;padding:10px 13px;border:1px solid #e9e9e9;border-left:0;border-right:0;background:#f5f8f9;text-align:center; color: #3a3a3a}
.tbl_frm06 td {padding:10px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent; color: #3c3c3c}
.tbl_frm06 .tracking span { padding-right:20px}
.tbl_frm06 .tracking p span { color:#e91e5a}
.tbl_frm06 .CT { text-align:center}
.tbl_frm06 .deco {text-align:center; font-size:12px; background-color:#e91e5a; padding: 2px 6px; color: #fff;  border-radius:2px }
.tbl_frm06 .deco a{ color: #fff; }
.tbl_frm06 .deco2 {text-align:center; font-size:11px; background-color:#999; padding: 2px 6px; color: #fff; border-radius:2px }
.tbl_frm06 .deco2 a{ color: #fff; }
.tbl_frm06 .nodata_img { text-align:center}
.tbl_frm06 .nodata_img img { width:50px; height:50px;}
.tbl_frm06 .order_no { text-align:center; color:#0071cb; font-weight:bold}
.tbl_frm06 .bae_special {text-align:center;}
.tbl_frm06 .bae_special span {color:#0071cb; font-weight:bold}
.tbl_frm06 p { color:#000 ; font-weight:bold; padding:0 0 5px 0; }
.tbl_frm06 .tracking input[type=text] { border:1px solid #e91e5a; padding: 3px; width: 50%; margin-top:5px}
.tbl_frm06 .item_info td { background-color:#fafafa; padding:3px}
.tbl_frm06 .pink_big { color:#e91e5a; font-weight:bold; font-size:25px}
.tbl_frm06 .leck_info { background-color:#f5f8f9; text-align:center; border-left:1px solid #e9e9e9}
.tbl_frm06 .leck_info p { padding:0 0 0 0; margin:0 0 0 0; color:#e91e5a; font-size:20px;  font-weight:bold;}
.tbl_frm06 .leck_info span { color:#fff; display:block;  font-weight:bold; padding:3px 0; background-color:#1aada2; margin:5px 0 10px 0}

#sub_left {width: 200px;}
#sub_left .sub_left_ti { font-size:15px; font-weight:bold; padding:10px 20px; text-align:center; background-color: #4179b3; color: #fff }
#sub_left .sub_menu { }
#sub_left .sub_menu  ul { padding:0px; margin:0px}
#sub_left .sub_menu  ul li{  background-color: #fff; list-style-type: none;  margin-top:0px; color: #fff; padding:10px 20px; border-bottom: 1px dotted #a0a0a0  }
#sub_left .sub_menu ul li:hover{ background-color:#dfdfdf; cursor:pointer;color:#fff;}
#sub_left .sub_menu  ul li a { color:#4d739a;}

#sub_left .sub_left_ti2 { font-size:15px; font-weight:bold; padding:6px 20px; text-align:center; background-color: #4179b3; color: #fff }
#sub_left .sub_menu2  ul { padding:0px; margin:0px}
#sub_left .sub_menu2  ul li{  background-color: #fff; list-style-type: none;  margin-top:0px; color: #fff; padding:6px 20px; border-bottom: 1px dotted #a0a0a0  }
#sub_left .sub_menu2 ul li:hover{ background-color:#dfdfdf; cursor:pointer;color:#fff;}
#sub_left .sub_menu2  ul li a { color:#4d739a;}



/* 자료 없는 목록 */
.empty_table {padding:100px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 테이블 그리드 */
.grid_1 {width:50px}
.grid_2 {width:100px}
.grid_3 {width:150px}
.grid_4 {width:200px}
.grid_5 {width:250px}
.grid_6 {width:300px}
.grid_6 {width:300px}
.grid_7 {width:350px}
.grid_8 {width:400px}
.grid_9 {width:450px}
.grid_10 {width:500px}
.grid_11 {width:550px}
.grid_12 {width:600px}
.grid_13 {width:650px}
.grid_14 {width:700px}
.grid_15 {width:750px}
.grid_16 {width:800px}
.grid_17 {width:850px}
.grid_18 {width:900px}

/* 목록 홀짝 배경색 */
.bg0 {background:#fff}
.bg1 {background:#f2f5f9}
.bg1 td {border-color:#e9e9e9}
.bg0cancel {background:#fdebf3}
.bg0cancel td {border-color:#f9d8e6}
.bg1cancel {background:#fdebf3}
.bg1cancel td {border-color:#f9d8e6}

/* 메뉴설정 */
#menu_frm #menu_result {margin:20px 0}

#menulist .sub_menu_class {padding-left:25px;background:url('../img/sub_menu_ico.gif') 5px 15px no-repeat}
.exist_menu_link {font-weight:bold;color:red}

/* 회원관리 목록 */
.mb_leave_msg {color:#b6b6b6}
.mb_intercept_msg {color:#f59fe4}
#point_mng {margin-top:50px}

/* 게시판추가/수정 */
#anc_bo_extra .td_grpset label {width:auto}
#anc_bo_extra .td_grpset input {margin:0}
#anc_bo_extra label {display:inline-block;width:100px}
#anc_bo_extra input {margin-right:10px}

/* 접속자집계 목록 */
.tbl_visit_list td {text-align:center}
.visit_bar {position:relative}
.visit_bar span {position:absolute;top:-8px;left:0;height:15px;background:#ddd}

/* 추가배송비 관리 */
#sendcost_postal {margin-top:50px}
#sendcost_postal_win {}
#sendcost_postal_win fieldset {text-align:center}
#sendcost_postal_win ul {margin:10px auto;padding:5px 10px;width:87%;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff;list-style:none}
#sendcost_postal_win li {position:relative;padding:8px 0 6px;border-bottom:1px solid #eee}
#sendcost_postal_win button {position:absolute;top:4px;right:0}

/* 공통 */
.td_addr {text-align:left !important}
.td_addr_line {line-height:2em}
.td_amount {width:70px;text-align:center}
.td_auth {width:100px;text-align:center}
.td_auth_mbnick {width:200px}
.td_boolean {width:50px;text-align:center}
.td_category {width:120px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_cnt {width:100px;font-size:0.95em;text-align:center}
.td_cntsmall {width:50px;font-size:0.95em;text-align:center}
.td_code {width:60px}
.td_confirm {width:90px;text-align:center}
.td_date {width:70px;text-align:center}
.td_datetime {width:130px;text-align:center}
.td_delicom {width:100px}
.td_etc {width:80px;text-align:center}
.td_extra label {display:inline-block;width:100px}
.td_extra input {margin-right:5px;width:130px}
.td_grid {width:60px;text-align:center}
td.td_grpset {width:160px;border-left:1px solid #e9ecee;text-align:center}
.td_id {width:150px}
.td_idsmall {width:75px}
.td_itopt {width:200px}
.td_img {text-align:center}
.td_imgline {width:70px;text-align:center}
.td_input input {width:94%}
.td_mbcert {text-align:center}
.td_mbid, .td_name, .td_mbname {width:100px;text-align:left !important}
.td_mbstat {text-align:center}
.td_mng {width:100px;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.td_mngsmall {width:60px;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.td_mng button, .td_mngsmall button {margin:0;padding:0;border:0;background:transparent}
.td_num {width:60px;text-align:center}
.td_numbig {width:100px;text-align:center}
.td_numcancel {color:#999;text-decoration:line-through}
.td_numcoupon {color:#86b325;text-align:center}
.td_numincome {color:#357dbb;text-align:center}
.td_numsmall {width:30px;text-align:center}
.td_numsum {font-weight:bold;text-align:center}
.td_numrdy {color:#ff3061;text-align:center}
.td_odrnum {width:250px;text-align:center}
.td_odrnum2 {width:140px;text-align:center}
.td_odrnum3 {width:110px;text-align:center}
.td_odrstatus {width:70px;letter-spacing:-0.1em;text-align:center}
.td_output {width:90px;text-align:center}
.td_payby {width:70px;text-align:center;letter-spacing:-0.1em}
.td_paybybig {width:140px;text-align:center;letter-spacing:-0.1em}
.td_possible {width:70px;text-align:center}
.td_postal {width:60px;text-align:center}
.td_bigpostal {width:140px;text-align:center}
.td_pt {text-align:right !important}
.td_scate {padding-right:15px;text-align:right;vertical-align:top}
.td_send {width:50px;text-align:center}
.td_sendcost_by {width:50px;text-align:center}
.td_sendcost_add {width:100px;text-align:center}
.td_tdiv {border-bottom:1px solid #c9c9c9 !important}
.td_tel {width:80px;text-align:center}
.td_test {width:50px;text-align:center}
.td_category1{width:130px;text-align:center}
.td_category2{width:100px;text-align:center}
.td_category3{width:80px;text-align:center}

.txt_true {color:#e8180c}
.txt_false {color:#ccc}
.txt_succeed {color:#40b300}
.txt_fail {color:#ce4242}

.banner_or_img {margin:10px 0 0}
.banner_or_img button {display:block;margin:5px 0 0}
.txt_active {color:#5d910b}
.txt_expired {color:#ccc}

/* 환경설정 */
.cf_cert_hide {display:none}

/* 관리권한설정 */
#add_admin fieldset {margin-top:20px}

/* 메일 테스트 */
#fsendmailtest {margin:50px 0;text-align:center}
#fsendmailtest .btn_submit {padding:3px 5px;border:1px solid #ff3061;color:#fff;font-size:0.95em;vertical-align:middle;cursor:pointer}

/* ########## 쇼핑몰 사용시 적용 ########## */

/* 쇼핑몰 설정 */
#anc_scf_payment textarea {height:50px}

#scf_cardtest_btn {margin-left:5px;vertical-align:middle}
#scf_cardtest_tip {margin:10px 0 0;padding:10px;border:3px solid #ddd}
#scf_cardtest_tip strong {display:inline-block;margin:0 0 5px}
#scf_cardtest_tip dl {margin:0 0 15px;padding:0;zoom:1}
#scf_cardtest_tip dl:after {display:block;visibility:hidden;clear:both;content:""}
#scf_cardtest_tip dt {float:left;width:100px}
#scf_cardtest_tip dd {padding:0;overflow:hidden}
.scf_cardtest_tip {display:none}

.scf_img {display:none}

#scf_sms_pre h3 {padding:10px 0 0}
#scf_sms_pre dl {margin:10px 0 0;zoom:1}
#scf_sms_pre dl:after {display:block;visibility:hidden;clear:both;content:""}
#scf_sms_pre dt {clear:both;float:left;padding:5px 0;width:100px}
#scf_sms_pre dd {padding:5px 0;overflow:hidden}
#scf_sms_pre p {margin:0 0 20px}
#scf_sms {margin:0 0 30px;zoom:1}
#scf_sms:after {display:block;visibility:hidden;clear:both;content:""}
.scf_sms_box {float:left;margin:0 8px 0 9px;width:163px;text-align:center}
.scf_sms_box h4 {margin:0 0 5px}
.scf_sms_img {margin:10px 0;width:163px;height:191px;background:url('../shop_admin/img/sms_back.gif') no-repeat 0 0;text-align:center}
.scf_sms_img textarea {margin:54px 0 0;width:115px;height:85px;border:0;background:transparent;font-size:0.95em;overflow:hidden}
.scf_sms_img span {display:block}
.scf_sms_cnt {display:block}

/* 주문내역 */
#sodr_list {text-align:center}

/* 주문내역 수정 */
.sodr_nonpay {color:#ff6600}
strong.sodr_nonpay {display:block;padding:5px 0;text-align:right}
.sodr_sppay {color:#1f9bff}
#anc_sodr_memo textarea {width:98%}
#anc_sodr_memo .btn_confirm {margin:10px 0 0}
#anc_sodr_payer #od_addr1,
#anc_sodr_payer #od_addr2 {margin:5px 0 0}
#anc_sodr_addressee #od_b_addr1,
#anc_sodr_addressee #od_b_addr2 {margin:5px 0 0}

#sodr_qty_log h3 {margin:20px 0 10px}
#sodr_qty_log div {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;line-height:1.8em;overflow-y:scroll}

#sodr_request_frm h3 {margin:20px 0 0}
#sodr_request_item h3 {margin-bottom:10px}
#sodr_request_frm #forderrequest {border-top:1px solid #e9e9e9}
#sodr_request_log_wrap {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;overflow-y:scroll}
#sodr_request_log_wrap p {position:relative;padding:5px 0;border-bottom:1px solid #e9e9e9}
#sodr_request_log_wrap span {display:inline-block;margin:0 0 0 80px}
#sodr_request_log_wrap b {display:inline-block;margin:0 15px 0 0;font-weight:normal}
#sodr_request_log_wrap button {position:absolute;top:7px;left:0;margin:0;padding:0;border:0;background:transparent;font-weight:bold}
#sodr_request_handle h3 {margin-bottom:10px}

#anc_sodr_request h3 {margin:20px 0 10px}
#sodr_request_list {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;overflow-y:scroll}
#sodr_request_list p {position:relative;padding:5px 0;border-bottom:1px solid #e9e9e9}

/* 주문통합내역 */
#sodr_sort {margin:0 20px 20px;padding:0;list-style:none;zoom:1}
#sodr_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sodr_sort li {float:left;margin:0 10px 0 0}
#sodr_sort a {font-size:0.95em;text-decoration:underline;letter-spacing:-0.1em}
#sodr_sort a.sort_on {color:#ff3061}

#sodr_all {margin:0 20px}
#sodr_all h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sodr_all .btn_list {margin:10px 0}

.sodr_all_list {clear:both;margin:0 0 50px;padding:0;list-style:none}

.sodr_all_list .sodr_basic {float:left;zoom:1}
.sodr_all_list .sodr_basic:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_basic dt {float:left;margin:0 10px 0 0}
.sodr_all_list .sodr_basic dd {float:left;margin:0 30px 0 0}
.sodr_all_list .sodr_basic strong a {color:#ff3061;text-decoration:underline}

.sodr_all_list .sodr_person {float:right;zoom:1}
.sodr_all_list .sodr_person:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_person dt {float:left;margin:0 0 0 30px}
.sodr_all_list .sodr_person dd {float:left;margin:0 0 0 10px}

.sodr_all_list .sodr_pay {clear:both;margin:0;border-top:1px solid #d1dee2;zoom:1}
.sodr_all_list .sodr_pay:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_pay dt {float:left;padding:8px 0;width:15%}
.sodr_all_list .sodr_pay dd {float:left;margin:0;padding:8px 0;width:35%}

#sodr_total table {text-align:center}
#sodr_total th {width:125px}

/* 분류관리 목록 */
.cate_list_lbl {display:inline-block;width:13px;height:13px;background:url('../shop_admin/img/icon_reply.gif') 0 0 no-repeat}

/* 분류 추가/수정 */
.frm_ca_id {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 상품관리 */
.sit_odrby {text-align:center}
.sit_amt {text-align:right;background-color:#e8fbff !important}
.sit_amt2 {text-align:right;border-color:#c3e189 !important;background-color:#f6ffe6 !important}
.sit_amt3 {text-align:right;border-color:#f6c8c4 !important;background-color:#ffedeb !important}
.sit_camt, .sit_pt, .sit_qty {text-align:right}
.frm_sit_title {margin:5px 0 0}

/* 상품입력/수정 */
#sit_compact {margin:0 20px;padding:15px 0;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}

.sit_w_opt {height:70px !important}
.sit_wimg {display:none}
.sit_relation_list {width:100%;background:#f6f6f6}
.sit_relation_selected {width:100%;background:#fcfff2}
#add_span img, #sel_span img {margin:5px 0}

.sit_option {margin:0 0 10px;padding:10px 10px 0;border:1px solid #e9e9e9;background:#f7f7f7}
.sit_option .frm_input {background:#fff !important;color:#000}
.sit_option_frm_wrapper {margin:0 0 10px;height:auto !important;height:500px;max-height:500px;border:1px solid #484848;overflow-y:scroll}
.sit_option_frm_wrapper th {padding:5px 0 !important;text-align:center !important}

#sit_option_frm .btn_list {margin:0 0 10px}
#sit_option_frm fieldset {padding:10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
#sit_option_frm fieldset .frm_input {margin:0 10px 0 5px;background:#fff !important;color:#000}

#sit_option_addfrm_btn {position:relative}
#sit_option_addfrm_btn button {position:absolute;top:-32px;right:0}

#sit_option_addfrm .btn_list {margin:0 0 10px}
#sit_option_addfrm fieldset {padding:10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
#sit_option_addfrm fieldset .frm_input {margin:0 10px 0 5px;background:#fff !important;color:#000}

/* 상품 복사 */
#sit_copy {margin:10px 20px 20px;background:#fff}
#sit_copy label {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 상품 일괄 등록 */
#excelfile_upload {margin:10px auto 20px;padding:20px;width:86%;border:1px solid #e9e9e9;background:#fff}
#excelfile_upload label {font-weight:bold}
#excelfile_result {margin:0 auto 20px;padding:20px;width:86%;border:1px solid #e9e9e9;background:#fff;zoom:1}
#excelfile_result:after {display:block;visibility:hidden;clear:both;content:""}
#excelfile_result dt {clear:both;float:left;padding:10px 0;width:40%}
#excelfile_result dd {float:left;margin:0;padding:10px 0;width:60%}

/* 상품옵션재고관리 */
.sit_stock_qty_alert {color:#ff1133;font-weight:bold}

/* 배송일괄처리 */
#sdeli_proc_fs {padding:20px 0;border-bottom:1px solid #f7f7f7;text-align:center}

/* 이벤트 입력/수정 */
.frm_ev_id {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 관련 상품, 관련 이벤트 입력/수정 */
.srel section ul {margin:0;padding:10px;list-style:none}
.srel section li {position:relative;border-bottom:1px solid #e9e9e9}
.srel .srel_list {height:auto !important;height:200px;max-height:200px;border:1px solid #ced9de;background:#f6f6f6;overflow-y:scroll}
.srel .srel_sel {border:1px solid #ced9de;background:#fcfff2}
.srel .srel_list p, .srel .srel_sel p {padding:10px 0;text-align:center}
.srel .compare_left ul {margin:0;list-style:none}
.srel button {position:absolute;top:12px;right:0}
.srel .srel_noneimg li {padding:7px 0}
.srel .srel_noneimg button {top:0;right:0}
.srel .srel_pad {display:block;height:30px}

/* 쿠폰관리 */
.scp_new_win .empty_table {padding:30px 0}

#scp_list_find {margin:10px 20px;padding:20px;border:1px solid #e9e9e9;background:#fff}
#scp_list_find .btn_frmline {line-height:1.5em !important}
#scp_list_find label {font-weight:bold}

.scp_find_code {width:110px;text-align:center}
.scp_find_select {width:50px;text-align:center}

.scp_target_select {width:50px;text-align:center}

/* 매출현황 */
#ssale_stats {zoom:1}
#ssale_stats:after {display:block;clear:both;visibility:hidden;content:''}
#ssale_stats div {float:left;padding:2%;width:46%;border-bottom:1px solid #eee;text-align:center}
#ssale_stats h3 {margin:30px 0 0;font-size:1.3em;text-align:center}
#ssale_stats form {margin:20px 0 10px;padding:10px 0}
#ssale_stats .frm_input {padding:0 10px !important;height:24px !important}

/* 주문내역출력 (새창) */
.new_win .sodr_print_pop_list table {width:100%}

#sodr_print_pop h2 {padding:15px 0;color:#ff3600;text-align:right}
#sodr_print_pop h3 {margin:0 0 10px}

.sodr_print_pop_list {margin:0 20px 10px;padding:0 0 10px;border-bottom:1px dotted #ddd}
.sodr_print_pop_list .sodr_print_pop_same {margin:0 0 10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
.sodr_print_pop_list dl {margin:0 0 15px;padding:0;zoom:1}
.sodr_print_pop_list dl:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_print_pop_list dt {float:left;padding:7px 0 6px;width:100px;border-bottom:1px solid #ddd}
.sodr_print_pop_list dd {padding:7px 0 6px;border-bottom:1px solid #ddd;overflow:hidden}

#sodr_print_pop_total {padding:20px 0;text-align:center}
#sodr_print_pop_total span {display:block;margin:0 0 10px;font-size:1.5em}
#sodr_print_pop_total strong {color:#ff3600}

/* SMS문자전송 */
#sms_send {padding-bottom:100px;zoom:1}
#sms_send:after {display:block;visibility:hidden;clear:both;content:""}

#sms_frm {float:left;width:650px}
#sms_frm table {margin:0 0 30px}
#sms_frm textarea {height:70px}

#sms_sm {position:relative;float:left;width:229px;height:418px;background:url('../shop_admin/img/mobilebg.jpg') no-repeat}
#sms_sm_text {position:absolute;top:75px;left:27px;width:180px;color:#fff;font-size:2em;word-break:break-all}
#sms_sm p {position:absolute;bottom:-70px;left:0;font-size:0.95em;letter-spacing:-0.1em}

/* 가격비교사이트 */
#anc_pricecompare_info li {margin:5px 0}

#anc_pricecompare_engine dt a {font-weight:bold}
#anc_pricecompare_engine dd {margin:0 0 30px}
#anc_pricecompare_engine li {margin:5px 0}

/* 새창 기본 스타일 */
.new_win {}
.new_win h1 {margin-bottom:20px;padding:0 20px;min-width:320px/* 적정값으로 변경하여 사용하세요. */;height:60px;border-top:2px solid #484848;border-bottom:1px solid #e9e9e9;background:#fff;font-size:1.2em;line-height:5em}
.new_win h2 {margin:0 20px 10px}
.new_win_ul {margin:-20px 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #515151;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #595959;border-left:1px solid #595959;color:#fff;font-family: 'Nanum Gothic Coding', monospace;font-weight:bold;text-decoration:none}
.new_win_desc {margin:0 20px}
.new_win .anchor {margin:0 20px 5px}
.new_win .tbl_wrap {margin:0 20px 20px;padding:0}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:0;background:#4b545e;color:#fff;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

.new_win .local_sch, .new_win .local_cmd, .new_win .local_desc01, .new_win .local_desc02, .new_win .local_ov {min-width:320px}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 관리자 비밀번호 확인 */
#admin_confirm {padding:0 0 10px;background:#222;text-align:center}
#admin_confirm p {margin:0 0 10px;color:#9ab9c5;background:#383a3f}
#admin_confirm label {color:#fff}
#admin_confirm .frm_input {border-color:#000}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal;font-size:1em}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #383838}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #383838;background:#111;color:#fff;text-decoration:none}
.sv_wrap .sv a:focus, .sv_wrap .sv a:hover {background:#393939}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:25px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#fff;text-decoration:none; border:1px solid #dfdfdf}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#aaa;color:#fff;font-weight:normal}



/*부가서비스*/
.lnb_svc{color:#ff3061;font-weight:bold}
.service_wrap{width:960px; margin:0 20px 10px;overflow:hidden}
.sevice_1{border:1px solid #ebe8e8;width:330px;float:left;border-radius:5px;text-align:center;margin-right:6px;}
.sevice_1 .svc_img{padding:30px 0 0;}
.sevice_1 h3{font-size:16px;margin:15px 0;color:#525252}
.sevice_1 p{padding:20px;background:#f8f8f8;height:90px;font-size:12px;text-align:left;  color:#898989;line-height:18px}
.sevice_1 ul {width:100%;padding:0; margin:0;border-top:1px solid #ebe8e8;}
.sevice_1 ul li{list-style:none;float:left;border-right:1px solid #ebe8e8;width:33%;}
.sevice_1 ul li a{display:inline-block;height:76px;width:100%}
.sevice_1 ul li img{padding:10px 0 0;}
.sevice_1 ul li.last{border:0}
.sevice_1 h4{width:100%;padding:0; margin:0;border-top:1px solid #ebe8e8;}
.sevice_1 h4 a{display:inline-block;height:66px;padding:10px 0 0;width:100%}

.sevice_2{border:1px solid #ebe8e8;float:left;width:282px;}
.sevice_2 .svc_a{padding:33px 0 0;}
.sevice_2 .svc_a h3{font-size:14px;letter-spacing:-1px;color:#525252;margin-bottom:5px;padding:0 20px 0}
.sevice_2 .svc_a p{color:#898989;line-height:18px;letter-spacing:-1px;padding:5px 20px 0;}
.sevice_2 .svc_btn{text-align:center;position:absolute;bottom:0;left:0;width:282px;}
.sevice_2 .svc_btn a{display:inline-block; background:#ff3061;text-align:center;color:#fff;padding:10px 20px;}
.sevice_2 .svc_btn a:hover{text-decoration:none;}
.sevice_2 .svc_sms{overflow:hidden; height:212px;position:relative}
.sevice_2 .svc_sms .svc_btn a{display:inline-block; background:#f8f8f8;width:100%;text-align:center;margin:0;padding:10px 0 0 }
.sevice_2 .svc_design{overflow:hidden;height:210px;position:relative}
.sevice_2 .svc_design .svc_btn a{margin:0 0 20px}

/*테마*/
.theme_p{padding:0 20px}
#theme_list{padding:0;margin:0 10px;list-style:none;  width: 1000px;position:relative}
#theme_list:after{display:block;visibility:hidden;clear:both;content:""}
#theme_list li{padding:10px;margin:0;float:left;width:302px}
#theme_list li:after{display:block;visibility:hidden;clear:both;content:""}
#theme_list li .tmli_if{border: 1px solid #d1dee2;width:300px;}
#theme_list li .tmli_if>img{width:300px;height:225px;}
#theme_list li .tmli_if:hover>img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
#theme_list li .tmli_tit{position:relative; border-top: 1px solid #d1dee2; background: #e5ecef;}
#theme_list li .tmli_tit p{height:40px;line-height:40px;padding:0 10px 0;font-weight:bold;text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}
#theme_list li .tmli_tit button.tmli_dt{position:absolute;top:8px;right:10px;padding:5px;background:#111;color:#fff;display:none;border:none}
#theme_list li .tmli_if:hover button.tmli_dt{display:block}
#theme_list li .theme_sl{float:left;border:none;margin-top:5px;padding:0 5px;height:26px;background:#999;color:#fff}
#theme_list li .theme_sl:hover{background:#ff3061}
#theme_list li .theme_deactive{margin-left:4px}
#theme_list li .theme_sl_use{background:#ff3061;line-height:26px}
#theme_list li .theme_pr{float:right;margin-top:5px;padding:0 5px;height:24px;line-height:24px;  border: 1px solid #ccc;  background: #fafafa; }
#theme_list li .theme_preview{  float: right;  margin-top: 5px; padding:0 5px;height:26px; border: 1px solid #ccc;  background: #fafafa; margin-right:3px}

#theme_detail{position:fixed;_position:absolute;top:50%;left:20px;_top:300px;width:950px;height:490px;margin-top:-245px;background:#fff;border:1px solid #000;z-index:99999;}
#theme_detail .thdt_img{padding:20px 0 20px 20px;float:left;}
#theme_detail .thdt_img img{width:600px;height:450px;}
#theme_detail .thdt_if{float:right;width:290px;padding:40px 20px 0 0;position:relative}
#theme_detail .thdt_if h2{padding:0 ;margin:0}
#theme_detail .thdt_if p{font-weight:normal;padding:10px;background:#f5f5f5;height:250px;overflow-y:auto;}
#theme_detail .thdt_if a{vertical-align:middle;}
#theme_detail .thdt_if .thdt_home{background:url(../img/link_icon.gif) no-repeat bottom right;padding-right:13px;}
#theme_detail .close_btn{position:absolute;top:10px;right:10px;background:url(../img/close.gif) no-repeat 50% 50%;border:none;width:30px;height:30px;overflow:hidden;text-indent:-9999px;}
#theme_detail table{border-collapse:collapse;margin:5px 0 10px}
#theme_detail table th{padding: 5px 0;  border: 1px solid #d1dee2; background: #e5ecef;width:50px;text-align:left}
#theme_detail table td{ border: 1px solid #ececec;padding:10px}
.no_theme{text-align:center;padding:100px 0;color:#555}

/*글,댓글현황*/
#wr_cont{position:relative;margin:10px 20px}
#wr_cont input[type="submit"]{background:#ff3061;border:none;color:#fff;padding: 0 5px;height: 24px;}
#wr_cont select{height: 24px;}
#grp_color{border:2px solid #ddd;position:absolute;top:0;right:0;list-style:none;padding: 5px 5px; margin:0;}
#grp_color li{padding:5px 10px;}
#grp_color li span{width:10px;height:10px; display:inline-block;background:rgb(75, 178, 197);margin-right:5px;}
#grp_color li.color2 span{background:rgb(234, 162, 40);}
#chart_wr h5{text-align:center;border:1px solid #eee;padding:30px 0}
#chart_wr{margin:20px }

/*전송실패 문자 재전송 내역*/
.sms_table{padding:0 20px 40px;}
.sms_table table th{border:1px solid #ddd;padding:9px 0}
.sms_table table td{border:1px solid #ddd;text-align:center;width:16%;padding:9px 0}

/* Browscap */
.update_processing{width:300px;height:300px;margin:0 auto;background:url(../img/ajax_loader.gif) no-repeat 0 0}
#processing{margin: 0 auto;padding: 70px 0;max-width: 800px;border: 1px solid #eee;background: #f9f9f9;text-align:center;}
#processing p{font-size:1.2em}
.check_processing {width:300px;height:300px;margin:0 auto;background:url(../img/check.png) no-repeat 50% 50% }
#processing button{background:#ff3061;border:none;color:#fff;padding: 15px;width:150px;margin-top:15px}

.btn_new { text-align:left; color:#fff; margin-bottom:0px; }
.btn_new .yes { background:#7d889a; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #2c3c56;cursor:}
.btn_new .yes_round { background:#7d889a; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #2c3c56;cursor: pointer;border-radius: 20px}
.btn_new .yes2 { background:#4179b3; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #1a436d; cursor: pointer}
.btn_new .yes3 { background:#7d889a; padding:4px 12px; margin:0px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #2c3c56}
.btn_new .no { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.btn_new .no2 { background:#fff; padding:5px 12px; margin:20px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.excel_down { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.btn_new .excel_up { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.btn_new .pink { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #e91e5a; font-size: 12px; border: 1px solid #e91e5a}
.btn_new input[type=file] { font-size:11px; width: 140px}
.btn_new a { cursor:pointer}
.btn_new .big_reck { font-size:20px; font-weight:bold; color:#e91e5a}

.btn_new .yes_c { background:#e56f6f; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #c25252;border-radius: 20px}
.btn_new .yes_u { background:#9e7ec2; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #745498;border-radius: 20px}
.btn_new .yes_r { background:#8bb15e; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #5b7141;border-radius: 20px}

.yes_c_span { background:#e56f6f; color: #fff; }
.yes_u_span { background:#9e7ec2; color: #fff; }
.yes_r_span { background:#8bb15e; color: #fff; }

.btn_right { text-align:right; color:#fff; margin-bottom:0px; }
.btn_right .pink { background:#fff; padding:5px 12px; margin:10px 0px 0px 0px;color: #e91e5a; font-size: 13px; border: 1px solid #e91e5a}
.btn_right .pink2 { background:#e91e5a; padding:5px 12px; margin:10px 0px 0px 0px;color: #fff; font-size: 13px; border: 1px solid #e91e5a}
.btn_right .no { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.btn_right span { color:#000; font-weight: bold}

.btn_new_big { text-align:right; color:#fff; margin-bottom:0px; }
.btn_new_big .yes { background:#e91e5a; padding:10px 30px; margin:10px 2px 0px 0px;color: #fff; font-size: 17px; border: 1px solid #a80938; font-weight: bold}
.btn_new_big .yes2 { background:#417bbc; padding:10px 30px; margin:10px 2px 0px 0px;color: #fff; font-size: 17px; border: 1px solid #1a436d; font-weight: bold}
.btn_new_big .no { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 13px; border: 1px solid #2c3c56}
.btn_new_big .etc { background:#7d889a; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 13px; border: 1px solid #1a436d}


.btns { text-align:center; color:#fff; margin-bottom:10px; }
.btns .yes { background:#1d3f87;padding:6px 10px; margin:8px 3px;border-radius:5px ; color: #fff; font-size: 12px; border:1px solid #1d3f87}
.btns .no { background:#c0c0c0; padding:6px 10px; margin:8px 3px; border-radius:5px; font-size: 12px; border:1px solid #c0c0c0}
.btns .etc { background:#fff; padding:6px 10px; margin:8px 3px; border-radius:5px; font-size: 12px; border:1px solid #666}

.btns .ipko_no  { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}
.btns .peki { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #000; font-size: 12px; border: 1px solid #000}

.btns2 { text-align:center; color:#fff; margin-top:20px; }
.btns2 .in_hand2  { background:#7d889a; padding:5px 12px; margin:10px 2px 0px 0px;color: #fff; font-size: 12px; border: 1px solid #2c3c56; cursor:pointer} 

.blank5 { clear:both;height:5px}
.blank10 { clear:both;height:10px}
.blank20 { clear:both;height:20px}



.tip { border:1px dotted #dfdfdf; padding: 10px; font-size:12px; color: #3b3b3b}
.tip input[type=text] { border:2px solid #e91e5a; font-size: 15px; padding: 5px; border-radius: 3px; font-weight: bold}
.tip select { padding:5px}
.tip p { display: inline; margin:0px; padding:0px }
.tip p .all { background-color:#e95144 ; padding: 5px 10px; color: #fff}
.tip p .part { background-color:#807360 ; padding: 5px 10px; color: #fff}
.tip p .part { background-color:#807360 ; padding: 5px 10px; color: #fff}
.tip span { font-weight:bold; color:#2c77d4; padding-right:30px}

.tip3 { border:1px dotted #dfdfdf; padding: 10px; font-size:12px; color: #3b3b3b}
.tip3 input[type=text] { border:1px solid #ced9de; font-size: 13px; padding: 3px; background-color: #f6f9fa; width: 200px }
.tip3 select { padding:5px}
.tip3 p { display: inline; margin:0px; padding:0px }
.tip3 p .all { background-color:#e95144 ; padding: 5px 10px; color: #fff}
.tip3 p .part { background-color:#807360 ; padding: 5px 10px; color: #fff}
.tip3 p .part { background-color:#807360 ; padding: 5px 10px; color: #fff}
.tip3 span { font-weight:bold; color:#2c77d4;}

.tip3_big {text-align:left}


.tip2 { border:1px dotted #dfdfdf; padding: 10px; font-size:12px; color: #3b3b3b}
.tip2 input[type=text] { border:1px solid #dfdfdf; fnt-size: 15px; padding: 5px;}

.tip_new { border:1px dotted #fff; padding: 10px 0; font-size:12px; color: #3b3b3b; }
.tip_new input[type=text] { border:2px solid #e91e5a; font-size: 15px; padding: 5px; border-radius: 3px; font-weight: bold; width:100%; margin-bottom:5px;box-sizing: border-box }
.tip_new .search { background-color:#666;  color:#fff; font-weight:bold; font-size:15px; display:block; width:100%; border-radius: 3px;border:2px solid #666; padding: 5px; text-align:center;box-sizing: border-box }
.tip_new input[type=file] { margin-top: 2px} 

.tip_new_main{ margin-bottom:20px}
.tip_new_main ul { padding:0; margin:0; }
.tip_new_main ul li { margin: 0; list-style: none;  float:left; width:47%; color:#fff; }
.tip_new_main a { display:block; text-decoration:none;  color:#fff; font-size:16px; text-align:center; font-weight:bold; padding:20px}
.tip_new_main .aa {background:#3b7dbb; border-radius:5px;  }
.tip_new_main .bb {background:#35b585; border-radius:5px ; margin-left:6%}

.tip_new_m { border:1px dotted #fff; padding: 5px 0; font-size:12px; color: #3b3b3b; }
.tip_new_m input[type=text] { border:2px solid #e91e5a; font-size: 15px; padding: 5px; border-radius: 3px; font-weight: bold; width:100%; margin-bottom:5px; box-sizing: border-box}
.tip_new_m .search { background-color:#666;  color:#fff; font-weight:bold; font-size:15px; display:block; width:100%; border-radius: 3px;border:2px solid #666; padding: 5px; text-align:center; box-sizing: border-box}
.tip_new_m .search2 { background-color:#ccc;  color:#fff; font-weight:bold; font-size:15px; display:block; width:100%; border-radius: 3px;border:2px solid #ccc; padding: 5px; text-align:center; box-sizing: border-box}
.tip_new_m input[type=file] { margin-top: 2px} 
.tip_new_m textarea { width:100%; height: 50px; box-sizing: border-box}

.more {text-align:center; color:#fff; margin-bottom:30px;}
.more .yes {  padding:7px 100px; margin:10px 30px; color: #2b353f; font-size: 13px; border: 1px solid #7c7c7c; border-radius:20px}

.de_list { padding-top:10px}
.de_list .list { background:#fff; padding:5px 12px; margin:0px 4px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #929eab; border-radius: 20px}
.de_list .list_select { background:#fff;  padding:5px 12px; margin:0px 4px 0px 0px;color: #e91e5a; font-size: 12px; border: 1px solid #e91e5a; border-radius: 20px}
.de_list a { cursor:pointer}

.de_list_big { padding-top:20px}
.de_list_big .list { background:#fff; padding:8px 20px; margin:0px 4px 0px 0px;color: #2c3c56; font-size: 16px; border: 1px solid #929eab; border-radius: 20px}
.de_list_big .list_select { background:#fff;  padding:8px 20px; margin:0px 4px 0px 0px;color: #e91e5a; font-size: 16px; border: 1px solid #e91e5a; border-radius: 20px}
.de_list_big a { cursor:pointer}

.to_list { padding-top:0px}
.to_list .list { background:#fff; padding:7px 20px; margin:0px 4px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #929eab; border-radius: 20px}
.to_list .list_select { background:#fff; padding:7px 20px; margin:0px 4px 0px 0px;color: #e91e5a; font-size: 12px; border: 1px solid #e91e5a; border-radius: 20px}
.to_list a { cursor:pointer}

.memo textarea {border:1px solid #e4eaec;background:#f7f7f7;color:#000;vertical-align:middle; font-size:12px; width:100%; margin-bottom:20px}
.nemo_bt {  color:#fff; text-align: right }
.nemo_bt .yes { background:#1d3f87;padding:5px 8px; margin:8px 3px; color: #fff; font-size: 12px; border:1px solid #1d3f87}
.nemo_bt .no { background:#c0c0c0; padding:5px 8px; margin:8px 3px; font-size: 12px; border:1px solid #c0c0c0}
.nemo_bt .excel_down { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 13px; border: 1px solid #2c3c56}
.nemo_bt .excel_up { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 13px; border: 1px solid #2c3c56}
.nemo_bt select { padding:4px}

.memo_list { padding-bottom:5px; border-bottom: 1px dotted #dfdfdf; margin-bottom: 5px}
.memo_list p { padding-bottom: 3px}
.memo_list p span { font-weight:bold; color: #000; padding-right: 10px}
.memo_list p .no { font-weight:bold; color: #2a76d4; padding-right: 10px}
.memo_list .reply { color: #0a5fc8; padding: 5px 0 5px 0px}
.memo_list .reply select { display:block; margin-bottom: 3px; margin-top:3px; width: 100%; border: 1px solid #dfdfdf}
.memo_list .reply textarea { width:80%; height: 30px; border: 1px solid #dfdfdf}
.memo_list .reply .button { border:0; outline:0}

.top_view { color:#000; font-size:15px; font-weight:bold; border:1px solid #dfdfdf; border-radius:3px; padding:10px; background-color:#f5f8f9; text-align:center }
.top_view span { padding: 5px;font-size:16px; border-radius: 5px; font-weight: bold }
.top_view p { display: inline;  padding:0 20px; font-size:18px;}


.step_top { text-align:left; color:#fff; margin-bottom:0px; }
.step_top .yes { background:#5d7084; color: #fff; padding:5px 12px; margin:10px 0px 0px 0px;border: 1px solid #45586c;border-radius: 20px}
.step_top a { margin:10px 0px 0px 0px;border-radius: 20px;padding:5px 12px; cursor:pointer}
.step_top .no  { background:#ced3d8; color: #2c3c56; padding:5px 12px; margin:10px 0px 0px 0px;border: 1px solid #929eab;border-radius: 20px}
.step_top .list_select { background:#fff; padding:5px 12px;  margin:10px 0px 0px 0px;color: #e91e5a; font-size: 12px; border: 1px solid #e91e5a; border-radius: 20px}


.color_101 {background-color:#ff893a; color: #fff; border: 1px solid #ff893a } /* 결제대행 결제대기 */
.color_102 {background-color:#7a8ee2; color: #fff; border: 1px solid #7a8ee2} /* 결제대행 결제확인중 */
.color_103 {background-color:#699da2; color: #fff; border: 1px solid #699da2} /* 결제대행 결제완료 */
.color_104 {background-color:#4664b9; color: #fff; border: 1px solid #4664b9} /* 대행완료 */
.color_105 {background-color:#e77761; color: #fff; border: 1px solid #e77761} /* 환불신청 */
.color_106 {background-color:#7ab3cb; color: #fff; border: 1px solid #7ab3cb} /* 환불완료 */

.color_301 {background-color:#cf77ca; color: #fff; border: 1px solid #cf77ca} /* 배송대행 입고대기 */
.color_302 {background-color:#a08a3d; color: #fff; border: 1px solid #a08a3d} /* 배송대행 입고완료 */
.color_303 {background-color:#eb5a5a; color: #fff; border: 1px solid #eb5a5a} /* 배송대행 무게측정 */
.color_304 {background-color:#ff893a; color: #fff; border: 1px solid #ff893a } /* 배송비 결제대기 */
.color_305 {background-color:#7a8ee2; color: #fff; border: 1px solid #7a8ee2} /* 배송비 결제확인중 */
.color_306 {background-color:#a398c2; color: #fff; border: 1px solid #a398c2} /* 배송비 결제완료(출고대기) */
.color_307 {background-color:#58b1cb; color: #fff; border: 1px solid #58b1cb} /* 출고완료 */

.color_201 {background-color:#77bb8d; color: #fff; border: 1px solid #77bb8d} /* 구매대행 신청 */
.color_202 {background-color:#b5b648; color: #fff; border: 1px solid #b5b648} /* 견적대기(견적제출) */
.color_203 {background-color:#ff893a; color: #fff; border: 1px solid #ff893a } /* 구매대행 결제대기(고객승인후) */
.color_204 {background-color:#7a8ee2; color: #fff; border: 1px solid #7a8ee2} /* 구매대행 결제확인중 */
.color_205 {background-color:#a398c2; color: #fff; border: 1px solid #a398c2} /* 구매대행 결제완료 */

.color_100 {background-color:#777777; color: #fff; border: 1px solid #777777} /* 폐기 */
.color_1000 {background-color:#777777; color: #fff; border: 1px solid #777777} /* 폐기 */

.color_1004 {background-color:#54b670; color: #fff; border: 1px solid #54b670} /* 반품신청 */
.color_1005 {background-color:#ff893a; color: #fff; border: 1px solid #ff893a} /* 반품 결제대기 */
.color_1006 {background-color:#7a8ee2; color: #fff; border: 1px solid #7a8ee2} /* 반품 결제확인중 */
.color_1007 {background-color:#a398c2; color: #fff; border: 1px solid #a398c2} /* 반품 결제완료 */
.color_1008 {background-color:#7ab3cb; color: #fff; border: 1px solid #7ab3cb} /* 반품완료 */

.color_1001 {background-color:#b6b6b6; color: #fff; border: 1px solid #b6b6b6} /* 입고대기 */
.color_1002 {background-color:#e32425; color: #fff; border: 1px solid #e32425} /* 오류입고 */
.color_1003 {background-color:#00c8c5; color: #fff; border: 1px solid #00c8c5} /* 입고완료 */

.color_901 {background-color:#77bb8d; color: #fff; border: 1px solid #77bb8d} /* 구매대행 신청 */
.color_902 {background-color:#a08a3d; color: #fff; border: 1px solid #a08a3d} /* 구매대기 */
.color_903 {background-color:#58b1cb; color: #fff; border: 1px solid #58b1cb} /* 구매완료 */
.color_900 {background-color:#777777; color: #fff; border: 1px solid #777777} /* 품절폐기 */

.color_on {background-color:#7a8ee2; color: #fff; border: 1px solid #7a8ee2} /* 노데이터-확인제품 */
.color_0 {background-color:#699da2; color: #fff; border: 1px solid #699da2} /* 노데이터-대기*/
.color_1 {background-color:#e78282; color: #fff; border: 1px solid #e78282} /* 노데이터-매칭완료 */




.ipko_memo {border:1px dotted #8bbad6; padding:10px 5px; margin-top:10px; margin-bottom:10px}
.ipko_memo .ti { font-weight:bold; color:#06C}
.ipko_memo .con { padding-right:30px; padding-left:10px}
.photo {border:1px dotted #8bbad6; padding:5px}
.photo ul { padding:0px; margin:0px; list-style: none}
.photo ul li {  padding: 0 10px 0px 0px; float:left}
.photo ul li img { width:50px; height:50px}

.view_tool5 { border:1px solid #fff; }
.view_tool5 .view_img { float:left; width:13%;background-color:#f5f8f9; margin-right:3%;}
.view_tool5 .view_img p { text-align:center; color:#000; font-weight:bold;padding:5px 0; }
.view_tool5 .view_img3 { float:left; width:13%;background-color:#f5f8f9; margin-right:3%; text-align:center; font-size:14px;  font-weight: bold;}
.view_tool5 .view_img3 img { width:100px; height:100px}
.view_tool5 .control { float:right; width:10%; background-color:#f5f8f9; height:130px; text-align:center; font-weight:bold; font-size:18px;  color:#e91e5a; margin-left:3% }
.view_tool5 .control span { font-size:14px}
.view_tool5 .view_detail { float:left; width: 70%;  }
.view_tool5 .view_detail ul { padding:0px; margin:0px; list-style: none}
.view_tool5 .view_detail ul li { border-bottom:1px dotted #dfdfdf; padding: 9px 3px 7px 3px; font-size:12px}
.view_tool5 .view_detail ul li span { font-weight:bold; color: #000; padding-left: 10px; padding-right: 10px; }
.view_tool5 .view_detail .hit { color:#e91e5a; font-size:14px}
.view_tool5 .view_detail ul li span {font-size:14px}
.view_tool5 .view_detail ul li .but {padding:1px 3px; margin:0px}
.view_tool5 .view_detail ul li .pink { color:#e91e5a;}
.view_tool5 .view_detail .bgyellow  { background:#fff57e}
.view_tool5 .view_detail .bgyellow .pink { color:#e91e5a; font-size:16px}
.view_tool5 .view_detail .option {background:#ff783c; color:#fff; padding:3px 5px; font-weight:bold; font-size:13px}
.view_tool5_title {color:#000; font-weight:bold;  padding:5px 0; font-size:15px; border-bottom:1px solid #000}
.view_tool5_title .wh {background:#ffff66; padding:5px 10px; border:1px solid #000 ; border-bottom:none}
.view_tool5_title .wh2 {font-size:12px}


.view_tool5_m { border:1px solid #fff; }
.view_tool5_m .view_img { margin-right:3%; }
.view_tool5_m .view_img p { text-align:center; color:#000; font-weight:bold;padding:5px 0; }
.view_tool5_m .view_img3 { background-color:#f5f8f9; margin-right:3%;text-align:center}
.view_tool5_m .view_img3 img { width:100px; height:100px}
.view_tool5_m .view_img3 { font-size:13px}
.view_tool5_m .view_img3 span { font-size:14px; color:#e91e5a; font-weight: bold; padding-bottom: 5px;}

.view_tool5_m .control {  background-color:#f5f8f9; text-align:center; font-weight:bold; font-size:18px; color:#e91e5a;  height:30px; line-height:30px}
.view_tool5_m .control span { font-size:14px}
.view_tool5_m .view_detail {  }
.view_tool5_m .view_detail ul { padding:0px; margin:0px; list-style: none}
.view_tool5_m .view_detail ul li { border-bottom:1px dotted #dfdfdf; padding: 9px 3px 7px 3px; font-size:12px}
.view_tool5_m .view_detail ul li span { font-weight:bold; color: #000; padding-left: 10px; padding-right: 10px; font-size:11px}
.view_tool5_m .view_detail ul li .pink {font-size:14px; color:#e91e5a; font-weight: bold;}
.view_tool5_m .view_detail .hit { color:#e91e5a; font-size:14px}


.buga ul { padding: 0px; margin: 0px; list-style: none}
.buga ul li { float:left; width: 350px}
.buga ul li input[type=text] { margin-bottom:3px; border:1px solid #dfdfdf; width:80px; padding:3px}

.gume_esti {background-color:#f5f8f9; padding:10px; position:relative}
.gume_esti input[type=text] { border:1px solid #b7bcc3; padding:5px}
.hapge { color:#fff; font-weight:bold; font-size:15px; background-color:#e91e5a; padding:0px 20px}
.hapge p { display:inline; text-align:right; font-size:23px; color:#fff; font-weight:bold}

.hapge2 { color:#000; position:relative; font-weight:bold; font-size:15px}
.hapge2 p { display:inline; text-align:right; position:absolute; top:-13px; right:0px; font-size:23px; color:#e91e5a; font-weight:bold}

.address { font-weight:bold; }

.stit h2 { font-size:15px; color:#346ba3; padding-top:0px; margin:0px; padding-bottom:5px ; text-align:left}

.search { text-align: right}
.search input[type=text] { border:1px solid #ced9de; padding: 0px; width:150px;  }
.search p { display: inline; margin:0px; padding:0px }
.search p .part { background-color:#807360 ; padding: 5px 10px; color: #fff}
.search p .part2 { background-color:#999 ; padding: 5px 10px; color: #fff}
.search span { font-weight:bold; color:#2c77d4;}



/* 팝업용 */
.warp2 {  padding: 20px 20px; position: relative}

.warp2 h3 {margin:0 0 10px;padding:0 0px;font-size:14px; color: #547CAC}
.warp2 h3 span {margin:0 0 10px;padding:0 0px;font-size:14px; color: #547CAC; background-color:#FF6}
.warp2 h3 p { display:inline; padding:0px; margin:0px; color:#e91e5a; padding-left:30px; font-size:13px; font-weight:bold}

.warp2 .admin_block20 { width:100%; }
.warp2 .admin_block20 .block_line { border:1px solid #dfdfdf; padding:20px; margin-bottom: 20px; border-radius:3px }



/* 검색 색상 */
.add {background:blue;color:#fff}
.use {background:black;color:#fff}
.return {background:red;color:#fff}

.part_color_01 { background-color:#4db3ab; color:#fff ;} /* 오류입고 */
.part_color_02 { background-color:#4db3ab; color:#fff ;} /* 입고완료 */
.part_color_03 { background-color:#4db3ab; color:#fff ;} /* 반품 */


/* 말줄임 */
.auto_jak {text-overflow:ellipsis; overflow:hidden;white-space:nowrap;}


/** 드롭다운 메뉴 ul typeahead 부분 부트스트랩 css 퍼옴*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu  li {text-align:left;}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.bold_line { border-top:2px solid #000;}
.ver_top { vertical-align:top}

.hap { border-top :1px dotted #dfdfdf; padding-top:15px; text-align:left; font-size:13px; font-weight:bold}

.hapge3 { position:relative;}
.hapge3 h2 { color:#000; font-weight:bold; font-size:15px}
.hapge3 p { display:inline; text-align:right; position:absolute; top:-7px; right:0px; font-size:23px; color:#e91e5a; font-weight:bold}
.hapge3 span { display:inline; text-align:right; position:absolute; top:30px; right:0px; font-size:14px; color:#fff; font-weight:bold; background: #e91e5a; border-radius: 3px; padding: 3px 10px}

.ipko_ment { margin-bottom: 5px}
.ipko_ment span { font-weight: bold; margin-right: 20px; color:#4a74a2; font-size:14px }



.list_hide {z-index: 1000000; width: 100%; background: rgba(255,255,255,0.3); position: fixed; top:0px; right:0px; height: 100% }

.tip_business{ border:1px dotted #dfdfdf; padding: 10px; font-size:12px; color: #3b3b3b}
.tip_business_left {float:left}
.tip_business_left input[type=text] { border:1px solid #ced9de; font-size: 13px; padding: 3px; background-color: #f6f9fa; width: 300px }
.tip_business_left select { padding:5px}
.tip_business_left .part { background-color:#807360 ; padding: 5px 10px; color: #fff}

.tip_business_right {float:right}
.tip_business_right input[type=text] { border:1px solid #ced9de; font-size: 13px; padding: 3px; background-color: #f6f9fa; width: 300px }
.tip_business_right select { padding:5px}
.tip_business_right .excel_down { background:#fff; padding:5px 12px; margin:10px 2px 0px 0px;color: #2c3c56; font-size: 12px; border: 1px solid #2c3c56}

/* 코드 구분 색상 css */
.code_color {color:#0082d7;}
.code_color_st{color:#8080c0;} /* 재고신청서 */
.code_color_sh{color:#ff0000;} /* 배송대행 */
.code_color_bu{color:#008040;} /* 구매대행 */

.seller {width:13px; height:13px; border-radius:50%; background:#f05540; margin:0 auto; margin-bottom:5px; color:#f05540}
.logis {width:13px; height:13px; border-radius:50%; background:#3188d2; margin:0 auto; margin-bottom:5px; color:#3188d2}
.company {width:13px; height:13px; border-radius:50%; background:#90c31e; margin:0 auto; margin-bottom:5px; color:#90c31e}
.normal {width:13px; height:13px; border-radius:50%; background:#fff; margin:0 auto; margin-bottom:5px; color:#fff}

/* 2019-12-16 추가 : 페이지처리 */
.list_pageing .pageno{display:inline-block;width:28px;height:28px;border:1px solid #ccc;line-height:28px;text-align:center;font-size:12px;color:#3c3c3c;text-decoration:none;}
.list_pageing .pageno.on, .list_pageing .pageno:hover{width:26px;height:26px;border-width:2px;border-color:#000;font-weight:bold;line-height:26px;}

.but { background:#ff6421; padding:2px 4px; border-radius:3px; font-size:11px}
.but a { color:#fff; font-size:11px}

.admin_logo {position:absolute; top:12px; left:20px; color:#fff; font-size:23px;}
.admin_logo a {color:#fff; }
.admin_logo a:hover {text-decoration:none}

.send_break{word-break:break-all;table-layout:fixed; word-break:break-word}


.trans_type { font-size:12px; padding:2px 0 2px 0; font-weight:bold; width:45%; float:left; }
.clear_01 { clear: both; line-height: 0px; font-size:0px}

.ship_top_menu {width:700px; margin:0 auto}
.ship_top_menu ul {padding:0px; margin:0px; text-align:center; border-bottom:1px solid #aeaeae; width:700px; height:20px}
.ship_top_menu ul li {display:inline-block; list-style:none; font-size:12px; }
.ship_top_menu a { padding:7px 10px; color:#fff; background:#aeaeae; border-top-right-radius:10px; border-top-left-radius:10px}
.ship_top_menu a:hover { background:#4b4b4b; color:#fff ;padding:7px 10px; border-top-right-radius:10px; border-top-left-radius:10px}


.mini_btn {cursor: pointer; background:#7337e2; color:#fff; border-radius:3px; padding:2px 5px; }
.mini_btn2 {cursor: pointer; background:#d71f46; color:#fff; border-radius:3px; padding:2px 5px; }
.mini_btn3 {cursor: pointer; background:#0ea87e; color:#fff; border-radius:3px; padding:2px 5px; }
.mini_btn4 {cursor: pointer; background:#ff5000; color:#fff; border-radius:3px; padding:2px 5px; }

