
footer{background:#21325b;}
/* .link-parts > li{}
 .link-parts > li:last-child{margin-right:0;}
 .link-parts > li .widget-title{color:#eee; text-transform: none;}
 .link-parts > li .foot-sub{}
 .link-parts > li .foot-sub li{margin-top:10px; font-size:14px; color:#dbdbdb;}
 .link-parts > li .foot-sub a:hover{text-decoration: underline}*/

.footer-links{}
.footer-links div{}
.footer-links div p {color:#eee;}
.footer-links div .foot-sub a{color:#bdc2ce;}



.footer-take{border-bottom:1px solid #38476c;}
.talk-text{line-height:24px; vertical-align: middle; font-size:14px; letter-spacing: -0.5px; color:#bdc2ce; text-align: left;}
.talk-text strong{margin:0 5px; color:#eee}
.talk-text img{display: inline-block; margin:0 5px; }
.talk-text span{margin:0 10px; color:#e4d533; font-weight:700}

.footer-menu{padding-top: 3.3rem!important; border-bottom:1px dashed #38476c;}
.fmenu-ul{display: block}
.fmenu-ul li{display: inline-block; margin:0 5px 0 0; color:#bdc2ce;}
.fmenu-ul li strong{font-size:13px; color:#eee; font-weight:400;}

.share-ul{display:block;}
.share-ul li{display: inline-block}
.share-ul li a{display:inline-block; margin:0 10px 0 0; width:44px; height:44px; line-height:44px; text-align: center; vertical-align: middle; color:#fff; border-radius: 10px; border: 1px solid rgba(189, 194, 206, .5);}
.share-ul li a:hover{border: 2px solid rgba(189, 194, 206, .9);}
.share-ul li img{margin:0 auto; line-height:44px; text-align: center; vertical-align: middle; opacity: 0.8;}
.share-ul li a:hover img{opacity: 1;}
.share-ul li img.i-facebook{margin-top: 13px; height:16px;text-align: center; vertical-align: middle}
.share-ul li img.i-instragram{margin-top: 13px; height:16px;text-align: center; vertical-align: middle}
.share-ul li img.i-youtube{margin-top: 13px; height:16px;text-align: center; vertical-align: middle}
.share-ul li img.i-blog{margin-top: 10px; height:22px;text-align: center; vertical-align: middle}

.footer-copy{}
.footer-copy p{padding-left: 10px!important; color:#9ba4b8;}

@media (max-width: 1024px) {
    p.talk-text a > span{display:block!important; margin-left:-6px;}
    p.talk-text.cus  > strong{display:block!important; margin-left:2px;}
}

@media (max-width: 768px) {
    p.talk-text  > strong{display:block!important; margin-left:2px;}
}

